In [2]:
import pandas as pd

In [3]:
#importing Raw-data 
df = pd.read_csv('Extracted Cleaned Data File\Cleaned_Data.csv')
df.head(10)

,IndicatorCode,Indicator,Patents_Continent_Code,ParentLocation_Continent,Country_Code,Country,Gender,Age_Group,Planning_Value_Rate,FactComments,Language_Code,Starting_Year,Year_Ending,Year_Group,Year_Period_Range
0,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,UGA,Uganda,Female,15-49 years,65.5,The global indicator represents all women of r...,EN,2021,2021,2021-2021,2021-2023
1,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,NER,Niger,Female,15-49 years,36.9,Niger 2021 PMA Survey Phase 1,EN,2020,2021,2020-2021,2021-2023
2,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,BFA,Burkina Faso,Female,15-49 years,58.2,Burkina Faso 2021 PMA Survey Phase 2,EN,2020,2021,2020-2021,2021-2023
3,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,WPR,Western Pacific,VNM,Viet Nam,Female,15-49 years,72.1,The global indicator represents all women of r...,EN,2020,2021,2020-2021,2021-2023
4,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,CIV,Cote d'Ivoire,Female,15-49 years,46.1,CÃ´te d'Ivoire 2020 PMA Survey Phase 1,EN,2020,2020,2020-2020,2018-2020
5,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,EUR,Europe,MDA,Republic of Moldova,Female,15-49 years,59.5,Moldova 2020 Gender and Generations Survey,EN,2020,2020,2020-2020,2018-2020
6,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,ETH,Ethiopia,Female,15-49 years,62.6,The global indicator represents all women of r...,EN,2020,2020,2020-2020,2018-2020
7,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,MDG,Madagascar,Female,15-49 years,65.6,The global indicator represents all women of r...,EN,2020,2020,2020-2020,2018-2020
8,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AMR,Americas,PER,Peru,Female,15-49 years,65.9,The global indicator represents all women of r...,EN,2020,2020,2020-2020,2018-2020
9,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,KEN,Kenya,Female,15-49 years,77.1,Kenya 2020 PMA Survey Phase 2,EN,2020,2020,2020-2020,2018-2020

In [4]:
missing_values = df.isnull().sum()
summary_stats = df.describe()
summary_stats

       Planning_Value_Rate  Starting_Year  Year_Ending
count           137.000000     137.000000   137.000000
mean             58.202190    2015.518248  2015.912409
std              21.202069       4.042244     4.080936
min               2.100000    2001.000000  2001.000000
25%              42.100000    2014.000000  2014.000000
50%              60.000000    2017.000000  2017.000000
75%              77.300000    2019.000000  2019.000000
max              96.600000    2021.000000  2021.000000

In [5]:
missing_values = df.isnull().sum()
missing_values

IndicatorCode               0
Indicator                   0
Patents_Continent_Code      0
ParentLocation_Continent    0
Country_Code                0
Country                     0
Gender                      0
Age_Group                   0
Planning_Value_Rate         0
FactComments                0
Language_Code               0
Starting_Year               0
Year_Ending                 0
Year_Group                  0
Year_Period_Range           0
dtype: int64

Normalization - First Normal Form (1NF)

In [6]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
132    False
133    False
134    False
135    False
136    False
Length: 137, dtype: bool

Therefor, 
In 1NF, ensure each column contains atomic values, and each record is unique.
> Our table already satisfies 1NF since all columns contain atomic values and records are unique.

Second Normal Form (2NF)

1. Normalize to Indicators table (2NF)

In [7]:
indicators = df[['IndicatorCode', 'Indicator']].drop_duplicates().reset_index(drop=True)
print("Indicators Table:")
indicators

Indicators Table:

  IndicatorCode                                          Indicator
0      SDGFPALL  Women of reproductive age (aged 15-49 years) w...

In [14]:
indicators.to_csv("Normalized_Tables/Indicators_Table.csv",index=False)
print("indicators_Table extracted under Normalized_Table folder")

indicators_Table extracted under Normalized_Table folder

2. Normalize to Locations table (2NF)

In [9]:
locations = df[['Patents_Continent_Code', 'ParentLocation_Continent']].drop_duplicates().reset_index(drop=True)
print("\nLocations Table:")
locations

Locations Table:

  Patents_Continent_Code ParentLocation_Continent
0                    AFR                   Africa
1                    WPR          Western Pacific
2                    EUR                   Europe
3                    AMR                 Americas
4                    EMR    Eastern Mediterranean
5                   SEAR          South-East Asia

In [15]:
locations.to_csv("Normalized_Tables/Locations_Table.csv",index=False)
print("Locations_Table extracted under Normalized_Table folder")

Locations_Table extracted under Normalized_Table folder

3. Normalize to Countries table (3NF)

In [10]:
countries = df[['Country_Code', 'Country', 'Patents_Continent_Code']].drop_duplicates().reset_index(drop=True)
print("\nCountries Table:")
countries

Countries Table:

    Country_Code        Country Patents_Continent_Code
0            UGA         Uganda                    AFR
1            NER          Niger                    AFR
2            BFA   Burkina Faso                    AFR
3            VNM       Viet Nam                    WPR
4            CIV  Cote d'Ivoire                    AFR
..           ...            ...                    ...
131          AZE     Azerbaijan                    EUR
132          CPV     Cabo Verde                    AFR
133          FRA         France                    EUR
134          ROU        Romania                    EUR
135          CHN          China                    WPR

[136 rows x 3 columns]

In [16]:
countries.to_csv("Normalized_Tables/Countries_Table.csv",index=False)
print("Countries_Table extracted under Normalized_Table folder")

Countries_Table extracted under Normalized_Table folder

4. Normalize to Period Range table

In [11]:
period_ranges = df[['Year_Period_Range']].drop_duplicates().reset_index(drop=True)
period_ranges['PeriodRangeID'] = period_ranges.index + 1
period_ranges

  Year_Period_Range  PeriodRangeID
0         2021-2023              1
1         2018-2020              2
2         2015-2017              3
3         2012-2014              4
4         2009-2011              5
5         2006-2008              6
6         2003-2005              7
7      Out of Range              8

In [17]:
period_ranges.to_csv("Normalized_Tables/Period_Ranges_Table.csv",index=False)
print("Period_Ranges_Table extracted under Normalized_Table folder")

Period_Ranges_Table extracted under Normalized_Table folder

Create the Main Data table (Fact)

In [12]:
main_data = df[['IndicatorCode', 'Country_Code', 'Gender', 'Age_Group', 'Planning_Value_Rate', 'FactComments', 
                'Language_Code', 'Starting_Year', 'Year_Ending', 'Year_Group','Year_Period_Range']].copy()

In [13]:
main_data = main_data.merge(period_ranges, on='Year_Period_Range')
main_data = main_data.drop(columns=['Year_Period_Range'])
main_data

,IndicatorCode,Country_Code,Gender,Age_Group,Planning_Value_Rate,FactComments,Language_Code,Starting_Year,Year_Ending,Year_Group,PeriodRangeID
0,SDGFPALL,UGA,Female,15-49 years,65.5,The global indicator represents all women of r...,EN,2021,2021,2021-2021,1
1,SDGFPALL,NER,Female,15-49 years,36.9,Niger 2021 PMA Survey Phase 1,EN,2020,2021,2020-2021,1
2,SDGFPALL,BFA,Female,15-49 years,58.2,Burkina Faso 2021 PMA Survey Phase 2,EN,2020,2021,2020-2021,1
3,SDGFPALL,VNM,Female,15-49 years,72.1,The global indicator represents all women of r...,EN,2020,2021,2020-2021,1
4,SDGFPALL,CIV,Female,15-49 years,46.1,CÃ´te d'Ivoire 2020 PMA Survey Phase 1,EN,2020,2020,2020-2020,2
...,...,...,...,...,...,...,...,...,...,...,...
132,SDGFPALL,AZE,Female,15-49 years,21.5,The global indicator represents all women of r...,EN,2006,2006,2006-2006,6
133,SDGFPALL,CPV,Female,15-49 years,73.2,The global indicator represents all women of r...,EN,2005,2005,2005-2005,7
134,SDGFPALL,FRA,Female,15-49 years,95.5,The global indicator represents all women of r...,EN,2004,2005,2004-2005,7
135,SDGFPALL,ROU,Female,15-49 years,46.5,The global indicator represents all women of r...,EN,2004,2004,2004-2004,7
136,SDGFPALL,CHN,Female,15-49 years,96.6,The global indicator represents all women of r...,EN,2001,2001,2001-2001,8

In [18]:
main_data.to_csv("Normalized_Tables/Main_data_Table.csv",index=False)
print("Main_Data_Table extracted under Normalized_Table folder")

Main_Data_Table extracted under Normalized_Table folder