In [16]:
import pandas as pd
import os

In [12]:
# Load the data
Hdf = pd.read_csv('Hdata.csv')

# Display the first few rows of the DataFrame to verify
Hdf.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EUR,Europe,Country,HRV,Croatia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Registration National Statistics,EN,2024-03-26 00:00:00
1,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EUR,Europe,Country,HRV,Croatia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,6.7,NaN,Registration National Statistics,EN,2024-03-26 00:00:00
2,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EMR,Eastern Mediterranean,Country,YEM,Yemen,Year,2023,...,NaN,NaN,NaN,NaN,NaN,77.0,NaN,Yemen 2022-2023 Multiple Indicator Cluster Survey,EN,2024-03-26 00:00:00
3,MDG_0000000003,Adolescent birth rate (per 1000 women),text,GLOBAL,Global,Country,MAC,"China, Macao Special Administrative Region",Year,2022,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Registration National Statistics & WPP2022,EN,2024-03-26 00:00:00
4,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EUR,Europe,Country,DNK,Denmark,Year,2022,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Registration National Statistics & WPP2022,EN,2024-03-26 00:00:00

In [13]:
Hdf_cleaned = Hdf[['ParentLocation', 'Location', 'Period', 'Dim2', 'Value', 'FactComments']]

Hdf_cleaned.head()

,ParentLocation,Location,Period,Dim2,Value,FactComments
0,Europe,Croatia,2023,10-14 years,0.0,Registration National Statistics
1,Europe,Croatia,2023,15-19 years,6.7,Registration National Statistics
2,Eastern Mediterranean,Yemen,2023,15-19 years,77.0,Yemen 2022-2023 Multiple Indicator Cluster Survey
3,Global,"China, Macao Special Administrative Region",2022,10-14 years,0.0,Registration National Statistics & WPP2022
4,Europe,Denmark,2022,10-14 years,0.0,Registration National Statistics & WPP2022

In [14]:
# Rename the 'Value' column to 'Adolescent birth rate (per 1000 women)'
Hdf_cleaned.rename(columns={'Value': 'Adolescent birth rate (per 1000 women)', 'Dim2': 'Age-group'}, inplace=True)

C:\Users\kirah\AppData\Local\Temp\ipykernel_20052\973023979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Hdf_cleaned.rename(columns={'Value': 'Adolescent birth rate (per 1000 women)', 'Dim2': 'Age-group'}, inplace=True)

In [15]:
Hdf_cleaned.head()

,ParentLocation,Location,Period,Age-group,Adolescent birth rate (per 1000 women),FactComments
0,Europe,Croatia,2023,10-14 years,0.0,Registration National Statistics
1,Europe,Croatia,2023,15-19 years,6.7,Registration National Statistics
2,Eastern Mediterranean,Yemen,2023,15-19 years,77.0,Yemen 2022-2023 Multiple Indicator Cluster Survey
3,Global,"China, Macao Special Administrative Region",2022,10-14 years,0.0,Registration National Statistics & WPP2022
4,Europe,Denmark,2022,10-14 years,0.0,Registration National Statistics & WPP2022

In [17]:
# Export the cleaned data to CSV
Hdf_cleaned.to_csv("Output/Halima.csv", index=False)