In [105]:
#Import dependencies
import csv
import os
import matplotlib as plt
import pandas as pd
from pathlib import Path
import numpy as np
from importlib import resources

In [106]:
#RR#importing Raw-data 
df = pd.read_csv('Resources\Modern Family Planning_Raw data.csv')
df.head(10)

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,text,AFR,Africa,Country,UGA,Uganda,Year,2021,...,NaN,NaN,NaN,NaN,NaN,65.5,NaN,The global indicator represents all women of r...,EN,2023-03-08T05:00:00.000Z
1,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,text,AFR,Africa,Country,NER,Niger,Year,2020-2021,...,NaN,NaN,NaN,NaN,NaN,36.9,NaN,Niger 2021 PMA Survey Phase 1,EN,2023-03-08T05:00:00.000Z
2,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,text,AFR,Africa,Country,BFA,Burkina Faso,Year,2020-2021,...,NaN,NaN,NaN,NaN,NaN,58.2,NaN,Burkina Faso 2021 PMA Survey Phase 2,EN,2023-03-08T05:00:00.000Z
3,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,text,WPR,Western Pacific,Country,VNM,Viet Nam,Year,2020-2021,...,NaN,NaN,NaN,NaN,NaN,72.1,NaN,The global indicator represents all women of r...,EN,2023-03-08T05:00:00.000Z
4,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,text,AFR,Africa,Country,CIV,Cote d'Ivoire,Year,2020,...,NaN,NaN,NaN,NaN,NaN,46.1,NaN,Côte d'Ivoire 2020 PMA Survey Phase 1,EN,2023-03-08T05:00:00.000Z
5,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,text,EUR,Europe,Country,MDA,Republic of Moldova,Year,2020,...,NaN,NaN,NaN,NaN,NaN,59.5,NaN,Moldova 2020 Gender and Generations Survey,EN,2023-03-08T05:00:00.000Z
6,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,text,AFR,Africa,Country,ETH,Ethiopia,Year,2020,...,NaN,NaN,NaN,NaN,NaN,62.6,NaN,The global indicator represents all women of r...,EN,2023-03-08T05:00:00.000Z
7,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,text,AFR,Africa,Country,MDG,Madagascar,Year,2020,...,NaN,NaN,NaN,NaN,NaN,65.6,NaN,The global indicator represents all women of r...,EN,2023-03-08T05:00:00.000Z
8,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,text,AMR,Americas,Country,PER,Peru,Year,2020,...,NaN,NaN,NaN,NaN,NaN,65.9,NaN,The global indicator represents all women of r...,EN,2023-03-08T05:00:00.000Z
9,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,text,AFR,Africa,Country,KEN,Kenya,Year,2020,...,NaN,NaN,NaN,NaN,NaN,77.1,NaN,Kenya 2020 PMA Survey Phase 2,EN,2023-03-08T05:00:00.000Z

In [107]:
#RR##checking numbers of Columns
df.columns

Index(['IndicatorCode', 'Indicator', 'ValueType', 'ParentLocationCode',
       'ParentLocation', 'Location type', 'SpatialDimValueCode', 'Location',
       'Period type', 'Period', 'IsLatestYear', 'Dim1 type', 'Dim1',
       'Dim1ValueCode', 'Dim2 type', 'Dim2', 'Dim2ValueCode', 'Dim3 type',
       'Dim3', 'Dim3ValueCode', 'DataSourceDimValueCode', 'DataSource',
       'FactValueNumericPrefix', 'FactValueNumeric', 'FactValueUoM',
       'FactValueNumericLowPrefix', 'FactValueNumericLow',
       'FactValueNumericHighPrefix', 'FactValueNumericHigh', 'Value',
       'FactValueTranslationID', 'FactComments', 'Language', 'DateModified'],
      dtype='object')

In [108]:
#RR#removing unnecessery columns 
drop_colums = df.drop(['ValueType','Location type','Period type','Dim1 type','IsLatestYear','Dim1ValueCode','Dim2 type','Dim2ValueCode',
         'Dim3 type', 'Dim3', 'Dim3ValueCode','DataSourceDimValueCode', 'DataSource','FactValueNumericPrefix','FactValueUoM',
          'FactValueTranslationID', 'FactValueNumericHigh','FactValueNumericHighPrefix','FactValueNumericLow',
         'FactValueNumericLowPrefix','DateModified'], axis=1)
drop_colums.head(10)

,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,SpatialDimValueCode,Location,Period,Dim1,Dim2,FactValueNumeric,Value,FactComments,Language
0,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,UGA,Uganda,2021,Female,15-49 years,65.5,65.5,The global indicator represents all women of r...,EN
1,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,NER,Niger,2020-2021,Female,15-49 years,36.9,36.9,Niger 2021 PMA Survey Phase 1,EN
2,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,BFA,Burkina Faso,2020-2021,Female,15-49 years,58.2,58.2,Burkina Faso 2021 PMA Survey Phase 2,EN
3,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,WPR,Western Pacific,VNM,Viet Nam,2020-2021,Female,15-49 years,72.1,72.1,The global indicator represents all women of r...,EN
4,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,CIV,Cote d'Ivoire,2020,Female,15-49 years,46.1,46.1,Côte d'Ivoire 2020 PMA Survey Phase 1,EN
5,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,EUR,Europe,MDA,Republic of Moldova,2020,Female,15-49 years,59.5,59.5,Moldova 2020 Gender and Generations Survey,EN
6,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,ETH,Ethiopia,2020,Female,15-49 years,62.6,62.6,The global indicator represents all women of r...,EN
7,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,MDG,Madagascar,2020,Female,15-49 years,65.6,65.6,The global indicator represents all women of r...,EN
8,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AMR,Americas,PER,Peru,2020,Female,15-49 years,65.9,65.9,The global indicator represents all women of r...,EN
9,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,KEN,Kenya,2020,Female,15-49 years,77.1,77.1,Kenya 2020 PMA Survey Phase 2,EN

In [109]:
#RR#Removing duplicate column
Cleaned_Data = drop_colums.drop(['FactValueNumeric'], axis=1)
Cleaned_Data.head(5)

,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,SpatialDimValueCode,Location,Period,Dim1,Dim2,Value,FactComments,Language
0,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,UGA,Uganda,2021,Female,15-49 years,65.5,The global indicator represents all women of r...,EN
1,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,NER,Niger,2020-2021,Female,15-49 years,36.9,Niger 2021 PMA Survey Phase 1,EN
2,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,BFA,Burkina Faso,2020-2021,Female,15-49 years,58.2,Burkina Faso 2021 PMA Survey Phase 2,EN
3,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,WPR,Western Pacific,VNM,Viet Nam,2020-2021,Female,15-49 years,72.1,The global indicator represents all women of r...,EN
4,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,CIV,Cote d'Ivoire,2020,Female,15-49 years,46.1,Côte d'Ivoire 2020 PMA Survey Phase 1,EN

In [110]:
#RR#Extracted coulmns List
Cleaned_Data.columns

Index(['IndicatorCode', 'Indicator', 'ParentLocationCode', 'ParentLocation',
       'SpatialDimValueCode', 'Location', 'Period', 'Dim1', 'Dim2', 'Value',
       'FactComments', 'Language'],
      dtype='object')

In [111]:
Cleaned_Data.head(10)

,IndicatorCode,Indicator,ParentLocationCode,ParentLocation,SpatialDimValueCode,Location,Period,Dim1,Dim2,Value,FactComments,Language
0,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,UGA,Uganda,2021,Female,15-49 years,65.5,The global indicator represents all women of r...,EN
1,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,NER,Niger,2020-2021,Female,15-49 years,36.9,Niger 2021 PMA Survey Phase 1,EN
2,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,BFA,Burkina Faso,2020-2021,Female,15-49 years,58.2,Burkina Faso 2021 PMA Survey Phase 2,EN
3,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,WPR,Western Pacific,VNM,Viet Nam,2020-2021,Female,15-49 years,72.1,The global indicator represents all women of r...,EN
4,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,CIV,Cote d'Ivoire,2020,Female,15-49 years,46.1,Côte d'Ivoire 2020 PMA Survey Phase 1,EN
5,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,EUR,Europe,MDA,Republic of Moldova,2020,Female,15-49 years,59.5,Moldova 2020 Gender and Generations Survey,EN
6,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,ETH,Ethiopia,2020,Female,15-49 years,62.6,The global indicator represents all women of r...,EN
7,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,MDG,Madagascar,2020,Female,15-49 years,65.6,The global indicator represents all women of r...,EN
8,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AMR,Americas,PER,Peru,2020,Female,15-49 years,65.9,The global indicator represents all women of r...,EN
9,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,KEN,Kenya,2020,Female,15-49 years,77.1,Kenya 2020 PMA Survey Phase 2,EN

In [112]:
#RR#Renaming Colums
Cleaned_Data = Cleaned_Data.rename(columns={'Dim1':'Gender','Dim2':'Age_Group','Value':'Fact_Value_%','Language':'Language_Code', 'Location':'Country',
                                            'SpatialDimValueCode':'Country_Code', 'ParentLocation':'ParentLocation_Continent',
                                            'ParentLocationCode':'Patents_Continent_Code'})

In [113]:
#RR#Checking the null values
Cleaned_Data.isnull()

,IndicatorCode,Indicator,Patents_Continent_Code,ParentLocation_Continent,Country_Code,Country,Period,Gender,Age_Group,Fact_Value_%,FactComments,Language_Code
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
132,False,False,False,False,False,False,False,False,False,False,False,False
133,False,False,False,False,False,False,False,False,False,False,False,False
134,False,False,False,False,False,False,False,False,False,False,False,False
135,False,False,False,False,False,False,False,False,False,False,False,False
136,False,False,False,False,False,False,False,False,False,False,False,False

In [114]:
#RR#checking duplicates
Cleaned_Data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
132    False
133    False
134    False
135    False
136    False
Length: 137, dtype: bool

In [115]:
#RR#split up span in to start and end date
Cleaned_Data['Period']

0           2021
1      2020-2021
2      2020-2021
3      2020-2021
4           2020
         ...
132         2006
133         2005
134    2004-2005
135         2004
136         2001
Name: Period, Length: 137, dtype: object

In [116]:
#RR#Splitting years by pattern '-'
Cleaned_Data['Period'].str.split(pat='-')

0            [2021]
1      [2020, 2021]
2      [2020, 2021]
3      [2020, 2021]
4            [2020]
           ...
132          [2006]
133          [2005]
134    [2004, 2005]
135          [2004]
136          [2001]
Name: Period, Length: 137, dtype: object

In [117]:
#RR#checking plit where 0=starting year=LHS values
Cleaned_Data['Period'].str.split(pat='-').str[0]

0      2021
1      2020
2      2020
3      2020
4      2020
       ...
132    2006
133    2005
134    2004
135    2004
136    2001
Name: Period, Length: 137, dtype: object

In [118]:
#RR#adding left hand values to new column name 'Starting_Year'
Cleaned_Data['Starting_Year'] = Cleaned_Data['Period'].str.split(pat='-').str[0]

In [119]:
#RR#checking plit where 1=year_Ending=RHS values
Cleaned_Data['Period'].str.split(pat='-').str[1]

0       NaN
1      2021
2      2021
3      2021
4       NaN
       ...
132     NaN
133     NaN
134    2005
135     NaN
136     NaN
Name: Period, Length: 137, dtype: object

In [120]:
#RR#adding Right hand values to new column name 'Year_Ending'
Cleaned_Data['Year_Ending'] = Cleaned_Data['Period'].str.split(pat='-').str[1]

In [121]:

Cleaned_Data.head(5)

,IndicatorCode,Indicator,Patents_Continent_Code,ParentLocation_Continent,Country_Code,Country,Period,Gender,Age_Group,Fact_Value_%,FactComments,Language_Code,Starting_Year,Year_Ending
0,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,UGA,Uganda,2021,Female,15-49 years,65.5,The global indicator represents all women of r...,EN,2021,NaN
1,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,NER,Niger,2020-2021,Female,15-49 years,36.9,Niger 2021 PMA Survey Phase 1,EN,2020,2021
2,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,BFA,Burkina Faso,2020-2021,Female,15-49 years,58.2,Burkina Faso 2021 PMA Survey Phase 2,EN,2020,2021
3,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,WPR,Western Pacific,VNM,Viet Nam,2020-2021,Female,15-49 years,72.1,The global indicator represents all women of r...,EN,2020,2021
4,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,CIV,Cote d'Ivoire,2020,Female,15-49 years,46.1,Côte d'Ivoire 2020 PMA Survey Phase 1,EN,2020,NaN

In [122]:
#RR# checking null values for column 'year_Ending'
Cleaned_Data.isnull()

,IndicatorCode,Indicator,Patents_Continent_Code,ParentLocation_Continent,Country_Code,Country,Period,Gender,Age_Group,Fact_Value_%,FactComments,Language_Code,Starting_Year,Year_Ending
0,False,False,False,False,False,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,False,False,False,False,False,False,False,False,False,False,False,False,False,True
133,False,False,False,False,False,False,False,False,False,False,False,False,False,True
134,False,False,False,False,False,False,False,False,False,False,False,False,False,False
135,False,False,False,False,False,False,False,False,False,False,False,False,False,True
136,False,False,False,False,False,False,False,False,False,False,False,False,False,True

In [123]:
#RR#checking records who is carrying null values for year_ending column
Cleaned_Data[Cleaned_Data['Year_Ending'].isna()==1]

,IndicatorCode,Indicator,Patents_Continent_Code,ParentLocation_Continent,Country_Code,Country,Period,Gender,Age_Group,Fact_Value_%,FactComments,Language_Code,Starting_Year,Year_Ending
0,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,UGA,Uganda,2021,Female,15-49 years,65.5,The global indicator represents all women of r...,EN,2021,NaN
4,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,CIV,Cote d'Ivoire,2020,Female,15-49 years,46.1,Côte d'Ivoire 2020 PMA Survey Phase 1,EN,2020,NaN
5,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,EUR,Europe,MDA,Republic of Moldova,2020,Female,15-49 years,59.5,Moldova 2020 Gender and Generations Survey,EN,2020,NaN
6,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,ETH,Ethiopia,2020,Female,15-49 years,62.6,The global indicator represents all women of r...,EN,2020,NaN
7,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,MDG,Madagascar,2020,Female,15-49 years,65.6,The global indicator represents all women of r...,EN,2020,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,WPR,Western Pacific,MHL,Marshall Islands,2007,Female,15-49 years,80.5,The global indicator represents all women of r...,EN,2007,NaN
132,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,EUR,Europe,AZE,Azerbaijan,2006,Female,15-49 years,21.5,The global indicator represents all women of r...,EN,2006,NaN
133,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,CPV,Cabo Verde,2005,Female,15-49 years,73.2,The global indicator represents all women of r...,EN,2005,NaN
135,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,EUR,Europe,ROU,Romania,2004,Female,15-49 years,46.5,The global indicator represents all women of r...,EN,2004,NaN
136,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,WPR,Western Pacific,CHN,China,2001,Female,15-49 years,96.6,The global indicator represents all women of r...,EN,2001,NaN

In [124]:
#RR#replacing null values by zero
Cleaned_Data['Year_Ending'] = Cleaned_Data['Year_Ending'].fillna(0)
Cleaned_Data.head(10)

,IndicatorCode,Indicator,Patents_Continent_Code,ParentLocation_Continent,Country_Code,Country,Period,Gender,Age_Group,Fact_Value_%,FactComments,Language_Code,Starting_Year,Year_Ending
0,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,UGA,Uganda,2021,Female,15-49 years,65.5,The global indicator represents all women of r...,EN,2021,0
1,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,NER,Niger,2020-2021,Female,15-49 years,36.9,Niger 2021 PMA Survey Phase 1,EN,2020,2021
2,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,BFA,Burkina Faso,2020-2021,Female,15-49 years,58.2,Burkina Faso 2021 PMA Survey Phase 2,EN,2020,2021
3,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,WPR,Western Pacific,VNM,Viet Nam,2020-2021,Female,15-49 years,72.1,The global indicator represents all women of r...,EN,2020,2021
4,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,CIV,Cote d'Ivoire,2020,Female,15-49 years,46.1,Côte d'Ivoire 2020 PMA Survey Phase 1,EN,2020,0
5,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,EUR,Europe,MDA,Republic of Moldova,2020,Female,15-49 years,59.5,Moldova 2020 Gender and Generations Survey,EN,2020,0
6,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,ETH,Ethiopia,2020,Female,15-49 years,62.6,The global indicator represents all women of r...,EN,2020,0
7,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,MDG,Madagascar,2020,Female,15-49 years,65.6,The global indicator represents all women of r...,EN,2020,0
8,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AMR,Americas,PER,Peru,2020,Female,15-49 years,65.9,The global indicator represents all women of r...,EN,2020,0
9,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,KEN,Kenya,2020,Female,15-49 years,77.1,Kenya 2020 PMA Survey Phase 2,EN,2020,0

In [125]:
Cleaned_Data=Cleaned_Data.drop(['Period'],axis=1)
Cleaned_Data.head(5)

,IndicatorCode,Indicator,Patents_Continent_Code,ParentLocation_Continent,Country_Code,Country,Gender,Age_Group,Fact_Value_%,FactComments,Language_Code,Starting_Year,Year_Ending
0,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,UGA,Uganda,Female,15-49 years,65.5,The global indicator represents all women of r...,EN,2021,0
1,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,NER,Niger,Female,15-49 years,36.9,Niger 2021 PMA Survey Phase 1,EN,2020,2021
2,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,BFA,Burkina Faso,Female,15-49 years,58.2,Burkina Faso 2021 PMA Survey Phase 2,EN,2020,2021
3,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,WPR,Western Pacific,VNM,Viet Nam,Female,15-49 years,72.1,The global indicator represents all women of r...,EN,2020,2021
4,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,CIV,Cote d'Ivoire,Female,15-49 years,46.1,Côte d'Ivoire 2020 PMA Survey Phase 1,EN,2020,0

In [126]:
#RR# Varifying null values for column 'year_Ending'
Cleaned_Data.isnull()

,IndicatorCode,Indicator,Patents_Continent_Code,ParentLocation_Continent,Country_Code,Country,Gender,Age_Group,Fact_Value_%,FactComments,Language_Code,Starting_Year,Year_Ending
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,False,False,False,False,False,False,False,False,False,False,False,False,False
133,False,False,False,False,False,False,False,False,False,False,False,False,False
134,False,False,False,False,False,False,False,False,False,False,False,False,False
135,False,False,False,False,False,False,False,False,False,False,False,False,False
136,False,False,False,False,False,False,False,False,False,False,False,False,False

In [127]:
#RR# checking null values for column 'year_Ending'
Cleaned_Data.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
132    False
133    False
134    False
135    False
136    False
Length: 137, dtype: bool

In [128]:
#RR#Checking Data type
Cleaned_Data.dtypes

IndicatorCode                object
Indicator                    object
Patents_Continent_Code       object
ParentLocation_Continent     object
Country_Code                 object
Country                      object
Gender                       object
Age_Group                    object
Fact_Value_%                float64
FactComments                 object
Language_Code                object
Starting_Year                object
Year_Ending                  object
dtype: object

In [129]:
#RR#change data type
Cleaned_Data['Starting_Year'] = pd.to_numeric(Cleaned_Data['Starting_Year'], errors='coerce')
Cleaned_Data['Year_Ending'] = pd.to_numeric(Cleaned_Data['Year_Ending'], errors='coerce')
Cleaned_Data['Gender'] = Cleaned_Data['Gender'].astype('category')

In [130]:
Cleaned_Data.head()

,IndicatorCode,Indicator,Patents_Continent_Code,ParentLocation_Continent,Country_Code,Country,Gender,Age_Group,Fact_Value_%,FactComments,Language_Code,Starting_Year,Year_Ending
0,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,UGA,Uganda,Female,15-49 years,65.5,The global indicator represents all women of r...,EN,2021,0
1,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,NER,Niger,Female,15-49 years,36.9,Niger 2021 PMA Survey Phase 1,EN,2020,2021
2,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,BFA,Burkina Faso,Female,15-49 years,58.2,Burkina Faso 2021 PMA Survey Phase 2,EN,2020,2021
3,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,WPR,Western Pacific,VNM,Viet Nam,Female,15-49 years,72.1,The global indicator represents all women of r...,EN,2020,2021
4,SDGFPALL,Women of reproductive age (aged 15-49 years) w...,AFR,Africa,CIV,Cote d'Ivoire,Female,15-49 years,46.1,Côte d'Ivoire 2020 PMA Survey Phase 1,EN,2020,0

In [131]:
#RR# Set the path to the resources folder to exctract CSV of Cleaned Data
# resources_path = "Extracted Cleaned Data File"
# filename = "Cleaned_Data.csv"

# # Save the Cleaned_Data DataFrame to a CSV file in the resources folder
# Cleaned_Data.to_csv(f"{resources_path}/{filename}", index=False)

# print(f"Cleaned_Data successfully exported to {resources_path}/{filename}")

In [132]:
#RR#Checking Data type
Cleaned_Data.dtypes

IndicatorCode                 object
Indicator                     object
Patents_Continent_Code        object
ParentLocation_Continent      object
Country_Code                  object
Country                       object
Gender                      category
Age_Group                     object
Fact_Value_%                 float64
FactComments                  object
Language_Code                 object
Starting_Year                  int64
Year_Ending                    int64
dtype: object

In [150]:
#HS# Load the data
Hdf = pd.read_csv('Resources/Hdata.csv')

# Display the first few rows of the DataFrame to verify
Hdf.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EUR,Europe,Country,HRV,Croatia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Registration National Statistics,EN,2024-03-26 00:00:00
1,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EUR,Europe,Country,HRV,Croatia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,6.7,NaN,Registration National Statistics,EN,2024-03-26 00:00:00
2,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EMR,Eastern Mediterranean,Country,YEM,Yemen,Year,2023,...,NaN,NaN,NaN,NaN,NaN,77.0,NaN,Yemen 2022-2023 Multiple Indicator Cluster Survey,EN,2024-03-26 00:00:00
3,MDG_0000000003,Adolescent birth rate (per 1000 women),text,GLOBAL,Global,Country,MAC,"China, Macao Special Administrative Region",Year,2022,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Registration National Statistics & WPP2022,EN,2024-03-26 00:00:00
4,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EUR,Europe,Country,DNK,Denmark,Year,2022,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Registration National Statistics & WPP2022,EN,2024-03-26 00:00:00

In [151]:
Hdf_cleaned = Hdf[['ParentLocation', 'Location', 'Period', 'Dim2', 'Value', 'FactComments']]

Hdf_cleaned.head()

,ParentLocation,Location,Period,Dim2,Value,FactComments
0,Europe,Croatia,2023,10-14 years,0.0,Registration National Statistics
1,Europe,Croatia,2023,15-19 years,6.7,Registration National Statistics
2,Eastern Mediterranean,Yemen,2023,15-19 years,77.0,Yemen 2022-2023 Multiple Indicator Cluster Survey
3,Global,"China, Macao Special Administrative Region",2022,10-14 years,0.0,Registration National Statistics & WPP2022
4,Europe,Denmark,2022,10-14 years,0.0,Registration National Statistics & WPP2022

In [152]:
#HS# Create a copy of the DataFrame
hDf_cleaned = Hdf_cleaned.copy()

# Rename the 'Value' column to 'Adolescent birth rate (per 1000 women)'
hDf_cleaned.rename(columns={'Value': 'Adolescent_birth_rate', 'Dim2': 'Age-group'}, inplace=True)
hDf_cleaned.head()

,ParentLocation,Location,Period,Age-group,Adolescent_birth_rate,FactComments
0,Europe,Croatia,2023,10-14 years,0.0,Registration National Statistics
1,Europe,Croatia,2023,15-19 years,6.7,Registration National Statistics
2,Eastern Mediterranean,Yemen,2023,15-19 years,77.0,Yemen 2022-2023 Multiple Indicator Cluster Survey
3,Global,"China, Macao Special Administrative Region",2022,10-14 years,0.0,Registration National Statistics & WPP2022
4,Europe,Denmark,2022,10-14 years,0.0,Registration National Statistics & WPP2022

In [136]:
# Export the cleaned data to CSV
#hDf_cleaned.to_csv("Output/Halima.csv", index=False)

In [153]:
#HS# Group by 'Location' (country) and find the maximum Adolescent birth rate
max_birth_rate =hDf_cleaned.groupby('Location')['Adolescent_birth_rate'].max()

# Find the country with the highest Adolescent birth rate
highest_birth_rate_country = max_birth_rate.idxmax()
highest_birth_rate_value = max_birth_rate.max()

print(f"The country with the highest Adolescent birth rate (per 1000 women) is {highest_birth_rate_country} with a rate of {highest_birth_rate_value}")

The country with the highest Adolescent birth rate (per 1000 women) is Central African Republic with a rate of 184.4

In [154]:
min_birth_rate = hDf_cleaned.groupby('Location')['Adolescent_birth_rate'].min()

#HS# Find the country with the lowest Adolescent birth rate
lowest_birth_rate_country = min_birth_rate.idxmin()
lowest_birth_rate_value = min_birth_rate.min()

print(f"The country with the lowest Adolescent birth rate (per 1000 women) is {lowest_birth_rate_country} with a rate of {lowest_birth_rate_value}")

The country with the lowest Adolescent birth rate (per 1000 women) is Algeria with a rate of 0.0

In [155]:
highest_rate = hDf_cleaned.sort_values(by='Adolescent_birth_rate', ascending=False)

highest_rate.head(10)

,ParentLocation,Location,Period,Age-group,Adolescent_birth_rate,FactComments
310,Africa,Central African Republic,2018,15-19 years,184.4,Central African Republic 2018-2019 Multiple In...
409,Africa,Equatorial Guinea,2010,15-19 years,176.0,Equatorial Guinea 2011 Demographic and Health ...
386,Africa,Angola,2014,15-19 years,162.7,Angola 2015-2016 Demographic and Health Survey
418,Africa,South Sudan,2008,15-19 years,158.1,South Sudan 2010 Household Health Survey Secon...
149,Africa,Mozambique,2021,15-19 years,158.0,Mozambique 2022-2023 Demographic and Health Su...
233,Africa,Niger,2020,15-19 years,150.3,Niger 2021 Malaria Indicator Survey
231,Africa,Mali,2020,15-19 years,144.8,Mali 2021 Malaria Indicators Survey
267,Africa,Madagascar,2019,15-19 years,143.0,Madagascar 2021 Demographic and Health Survey
307,Africa,Chad,2018,15-19 years,138.5,Chad 2019 Multiple Indicator Cluster Survey
306,Africa,Malawi,2018,15-19 years,135.6,Malawi 2019-2020 Multiple Indicator Cluster Su...

In [156]:
#HS# Sort the DataFrame in ascending order based on 'Adolescent birth rate (per 1000 women)'
lowest_rate = hDf_cleaned.sort_values(by='Adolescent_birth_rate', ascending=True)

# Display the sorted DataFrame
lowest_rate.head(10)

,ParentLocation,Location,Period,Age-group,Adolescent_birth_rate,FactComments
0,Europe,Croatia,2023,10-14 years,0.0,Registration National Statistics
74,South-East Asia,Bhutan,2021,10-14 years,0.0,Registration National Statistics & WPP2022
73,Americas,Bermuda,2021,10-14 years,0.0,Registration National Statistics & WPP2022
72,Europe,Belgium,2021,10-14 years,0.0,Registration Eurostat
71,Europe,Azerbaijan,2021,10-14 years,0.0,Registration National Statistics & WPP2022
70,Europe,Austria,2021,10-14 years,0.0,Registration Eurostat
211,Europe,Armenia,2020,10-14 years,0.0,Registration Eurostat
212,Americas,Montserrat,2020,10-14 years,0.0,Registration National Statistics & WPP2022
213,South-East Asia,Nepal,2020,10-14 years,0.0,Nepal 2022 Demographic and Health Survey
254,Eastern Mediterranean,Bahrain,2019,10-14 years,0.0,Registration National Statistics & WPP2022

In [157]:
#HS# Count occurrences of Age-group values
age_group_counts = hDf_cleaned['Age-group'].value_counts()

# Display the counts
print("Age-group counts:")
print(age_group_counts)

Age-group counts:
Age-group
15-19 years    223
10-14 years    215
Name: count, dtype: int64

In [147]:
# Adolescent data frame
hDf_cleaned.dtypes

ParentLocation                             object
Location                                   object
Period                                      int64
Age-group                                  object
Adolescent birth rate (per 1000 women)    float64
FactComments                               object
dtype: object

In [142]:
#LR#
csvpath = Path('.', 'Resources', 'births-attended-by-skilled-health-personnel.csv')

In [143]:
#LR# Read the CSV into a Pandas DataFrame
skilled_personnel_df = pd.read_csv(csvpath, low_memory=False)

# Print the first rows of data to the screen
skilled_personnel_df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MDG_0000000025,Births attended by skilled health personnel (%),text,SEAR,South-East Asia,Country,IDN,Indonesia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,95.7,NaN,SUSENAS 2023 as part of Welfare Statistics 2023,EN,2024-04-26 00:00:00
1,MDG_0000000025,Births attended by skilled health personnel (%),text,EUR,Europe,Country,FRA,France,Year,2023,...,NaN,NaN,NaN,NaN,NaN,97.6,NaN,Institutional Birth (IB): includes all deliver...,EN,2024-04-26 00:00:00
2,MDG_0000000025,Births attended by skilled health personnel (%),text,EMR,Eastern Mediterranean,Country,SAU,Saudi Arabia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,99.8,NaN,Women Health and Reproductive Survey,EN,2024-04-26 00:00:00
3,MDG_0000000025,Births attended by skilled health personnel (%),text,EMR,Eastern Mediterranean,Country,JOR,Jordan,Year,2023,...,NaN,NaN,NaN,NaN,NaN,99.9,NaN,Department of Statistics (DoS) [Jordan] and IC...,EN,2024-04-26 00:00:00
4,MDG_0000000025,Births attended by skilled health personnel (%),text,EMR,Eastern Mediterranean,Country,YEM,Yemen,Year,2022-2023,...,NaN,NaN,NaN,NaN,NaN,60.9,NaN,Central Statistical Organization (CSO) and Uni...,EN,2024-04-26 00:00:00

In [167]:
#LR#make a copy of dataframe and drop unwanted columns
clean_df_skilled_personnel = skilled_personnel_df.drop(['Indicator','ValueType', 'FactValueUoM', 'Location type','FactValueNumericLowPrefix', 'IsLatestYear', 'FactValueNumeric',
                                                        'FactValueNumericPrefix','FactValueNumericLow','FactValueTranslationID', 'Dim2', 'Dim2 type', 'Dim1 type', 'Language',
                                                        'Dim2ValueCode', 'Dim3', 'DataSourceDimValueCode', 'Dim3ValueCode', 'DataSource', 'Dim1ValueCode', 'Dim3 type',
                                                        'Dim1', 'FactValueNumericHighPrefix', 'FactValueNumericHigh'], axis=1)
clean_df_skilled_personnel.head()

,IndicatorCode,ParentLocationCode,ParentLocation,SpatialDimValueCode,Location,Period type,Period,Value,FactComments,DateModified
0,MDG_0000000025,SEAR,South-East Asia,IDN,Indonesia,Year,2023,95.7,SUSENAS 2023 as part of Welfare Statistics 2023,2024-04-26 00:00:00
1,MDG_0000000025,EUR,Europe,FRA,France,Year,2023,97.6,Institutional Birth (IB): includes all deliver...,2024-04-26 00:00:00
2,MDG_0000000025,EMR,Eastern Mediterranean,SAU,Saudi Arabia,Year,2023,99.8,Women Health and Reproductive Survey,2024-04-26 00:00:00
3,MDG_0000000025,EMR,Eastern Mediterranean,JOR,Jordan,Year,2023,99.9,Department of Statistics (DoS) [Jordan] and IC...,2024-04-26 00:00:00
4,MDG_0000000025,EMR,Eastern Mediterranean,YEM,Yemen,Year,2022-2023,60.9,Central Statistical Organization (CSO) and Uni...,2024-04-26 00:00:00

In [166]:
#LR# print data types
clean_df_skilled_personnel.dtypes

IndicatorCode           object
ParentLocationCode      object
ParentLocation          object
SpatialDimValueCode     object
Location                object
Period type             object
Period                  object
Value                  float64
FactComments            object
DateModified            object
dtype: object

In [169]:
#LR#
parent_location = clean_df_skilled_personnel.groupby(["ParentLocation"])["Value"].value_counts()
pd.DataFrame(parent_location)

                       count
ParentLocation  Value
Africa          99.8      12
                99.0       8
                99.7       8
                99.5       6
                43.7       3
...                      ...
Western Pacific 97.5       1
                97.6       1
                97.8       1
                98.2       1
                98.9       1

[745 rows x 1 columns]

In [146]:
#IW# Read the CSV into a Pandas DataFrame
csvpath = Path('.', 'Resources', 'antenatal-care-coverage.csv')
#IW# Read the CSV into a Pandas DataFrame
care_coverage_df = pd.read_csv(csvpath, low_memory=False)

# Print the first rows of data to the screen
care_coverage_df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,WHS4_154,Antenatal care coverage - at least four visits...,text,EMR,Eastern Mediterranean,Country,SAU,Saudi Arabia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,88.8,NaN,Women Health and Reproductive Care Survey 2023.,EN,2024-05-13 00:00:00
1,WHS4_154,Antenatal care coverage - at least four visits...,text,AFR,Africa,Country,SEN,Senegal,Year,2021-2023,...,NaN,NaN,NaN,NaN,NaN,68.4,NaN,DHS 2023 (DHS Continuous) Key indicators.,EN,2024-05-13 00:00:00
2,WHS4_154,Antenatal care coverage - at least four visits...,text,EMR,Eastern Mediterranean,Country,TUN,Tunisia,Year,2021-2023,...,NaN,NaN,NaN,NaN,NaN,79,NaN,MICS 2023 (snaphots),EN,2024-05-13 00:00:00
3,WHS4_154,Antenatal care coverage - at least four visits...,text,EMR,Eastern Mediterranean,Country,JOR,Jordan,Year,2021-2023,...,NaN,NaN,NaN,NaN,NaN,93.1,NaN,PFHS 2023 (key indicators).,EN,2024-05-13 00:00:00
4,WHS4_154,Antenatal care coverage - at least four visits...,text,EMR,Eastern Mediterranean,Country,YEM,Yemen,Year,2020-2023,...,NaN,NaN,NaN,NaN,NaN,32.4,NaN,MICS 2022-2023.,EN,2024-05-13 00:00:00

In [172]:
cleaned_care_coverage_df = care_coverage_df[['IndicatorCode', 'Indicator', 'ParentLocation', 'Location', 'Period', 'Value', 'FactComments']]

cleaned_care_coverage_df.head()

,IndicatorCode,Indicator,ParentLocation,Location,Period,Value,FactComments
0,WHS4_154,Antenatal care coverage - at least four visits...,Eastern Mediterranean,Saudi Arabia,2023,88.8,Women Health and Reproductive Care Survey 2023.
1,WHS4_154,Antenatal care coverage - at least four visits...,Africa,Senegal,2021-2023,68.4,DHS 2023 (DHS Continuous) Key indicators.
2,WHS4_154,Antenatal care coverage - at least four visits...,Eastern Mediterranean,Tunisia,2021-2023,79,MICS 2023 (snaphots)
3,WHS4_154,Antenatal care coverage - at least four visits...,Eastern Mediterranean,Jordan,2021-2023,93.1,PFHS 2023 (key indicators).
4,WHS4_154,Antenatal care coverage - at least four visits...,Eastern Mediterranean,Yemen,2020-2023,32.4,MICS 2022-2023.

In [171]:
# Create a copy of the DataFrame
cleaned_care_coverage_df = cleaned_care_coverage_df.copy()
# Rename the 'Value' column to 'Adolescent birth rate (per 1000 women)'

cleaned_care_coverage_df.rename(columns={'Value': 'Anatal_care%', 'Dim2': 'Age-group'}, inplace=True)

In [175]:
cleaned_care_coverage_df.dtypes

IndicatorCode     object
Indicator         object
ParentLocation    object
Location          object
Period            object
Value             object
FactComments      object
dtype: object