In [1]:
#Import dependencies
import csv
import os
import matplotlib as plt
import pandas as pd
from pathlib import Path
import numpy as np
from importlib import resources

In [2]:
#RR#importing Raw-data 
df = pd.read_csv('Resources\Modern Family Planning_Raw data.csv')
df.head(10)

FileNotFoundError: [Errno 2] No such file or directory: 'Resources\\Modern Family Planning_Raw data.csv'

In [ ]:
#RR##checking numbers of Columns
df.columns

In [ ]:
#RR#removing unnecessery columns 
drop_colums = df.drop(['ValueType','Location type','Period type','Dim1 type','IsLatestYear','Dim1ValueCode','Dim2 type','Dim2ValueCode',
         'Dim3 type', 'Dim3', 'Dim3ValueCode','DataSourceDimValueCode', 'DataSource','FactValueNumericPrefix','FactValueUoM',
          'FactValueTranslationID', 'FactValueNumericHigh','FactValueNumericHighPrefix','FactValueNumericLow',
         'FactValueNumericLowPrefix','DateModified'], axis=1)
drop_colums.head(10)

In [ ]:
#RR#Removing duplicate column
Cleaned_Data = drop_colums.drop(['FactValueNumeric'], axis=1)
Cleaned_Data.head(5)

In [ ]:
#RR#Extracted coulmns List
Cleaned_Data.columns

In [ ]:
Cleaned_Data.head(10)

In [ ]:
#RR#Renaming Colums
Cleaned_Data = Cleaned_Data.rename(columns={'Dim1':'Gender','Dim2':'Age_Group','Value':'Fact_Value_%','Language':'Language_Code', 'Location':'Country',
                                            'SpatialDimValueCode':'Country_Code', 'ParentLocation':'ParentLocation_Continent',
                                            'ParentLocationCode':'Patents_Continent_Code'})

In [ ]:
#RR#Checking the null values
Cleaned_Data.isnull()

In [ ]:
#RR#checking duplicates
Cleaned_Data.duplicated()

In [ ]:
#RR#split up span in to start and end date
Cleaned_Data['Period']

In [ ]:
#RR#Splitting years by pattern '-'
Cleaned_Data['Period'].str.split(pat='-')

In [ ]:
#RR#checking plit where 0=starting year=LHS values
Cleaned_Data['Period'].str.split(pat='-').str[0]

In [ ]:
#RR#adding left hand values to new column name 'Starting_Year'
Cleaned_Data['Starting_Year'] = Cleaned_Data['Period'].str.split(pat='-').str[0]

In [ ]:
#RR#checking plit where 1=year_Ending=RHS values
Cleaned_Data['Period'].str.split(pat='-').str[1]

In [ ]:
#RR# checking null values for column 'year_Ending'
Cleaned_Data.isnull()

In [ ]:
#RR#checking records who is carrying null values for year_ending column
Cleaned_Data[Cleaned_Data['Year_Ending'].isna()==1]

In [ ]:
#RR#replacing null values by zero
Cleaned_Data['Year_Ending'] = Cleaned_Data['Year_Ending'].fillna(0)
Cleaned_Data.head(10)

In [ ]:
Cleaned_Data=Cleaned_Data.drop(['Period'],axis=1)
Cleaned_Data.head(5)

In [ ]:
#RR# Varifying null values for column 'year_Ending'
Cleaned_Data.isnull()

In [ ]:
#RR# checking null values for column 'year_Ending'
Cleaned_Data.duplicated()

In [ ]:
#RR#Checking Data type
Cleaned_Data.dtypes

In [ ]:
#RR# Set the path to the resources folder to exctract CSV of Cleaned Data
resources_path = "Extracted Cleaned Data File"
filename = "Cleaned_Data.csv"

# Save the Cleaned_Data DataFrame to a CSV file in the resources folder
Cleaned_Data.to_csv(f"{resources_path}/{filename}", index=False)

print(f"Cleaned_Data successfully exported to {resources_path}/{filename}")

In [ ]:
#change data type
Cleaned_Data['Starting_Year'] = pd.to_numeric(Cleaned_Data['Starting_Year'], errors='coerce')
Cleaned_Data['Year_Ending'] = pd.to_numeric(Cleaned_Data['Year_Ending'], errors='coerce')
Cleaned_Data['Gender'] = Cleaned_Data['Gender'].astype('category')

In [ ]:
# Load the data
Hdf = pd.read_csv('Resources/Hdata.csv')

# Display the first few rows of the DataFrame to verify
Hdf.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EUR,Europe,Country,HRV,Croatia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Registration National Statistics,EN,2024-03-26 00:00:00
1,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EUR,Europe,Country,HRV,Croatia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,6.7,NaN,Registration National Statistics,EN,2024-03-26 00:00:00
2,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EMR,Eastern Mediterranean,Country,YEM,Yemen,Year,2023,...,NaN,NaN,NaN,NaN,NaN,77.0,NaN,Yemen 2022-2023 Multiple Indicator Cluster Survey,EN,2024-03-26 00:00:00
3,MDG_0000000003,Adolescent birth rate (per 1000 women),text,GLOBAL,Global,Country,MAC,"China, Macao Special Administrative Region",Year,2022,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Registration National Statistics & WPP2022,EN,2024-03-26 00:00:00
4,MDG_0000000003,Adolescent birth rate (per 1000 women),text,EUR,Europe,Country,DNK,Denmark,Year,2022,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,Registration National Statistics & WPP2022,EN,2024-03-26 00:00:00

In [ ]:
Hdf_cleaned = Hdf[['ParentLocation', 'Location', 'Period', 'Dim2', 'Value', 'FactComments']]

Hdf_cleaned.head()

,ParentLocation,Location,Period,Dim2,Value,FactComments
0,Europe,Croatia,2023,10-14 years,0.0,Registration National Statistics
1,Europe,Croatia,2023,15-19 years,6.7,Registration National Statistics
2,Eastern Mediterranean,Yemen,2023,15-19 years,77.0,Yemen 2022-2023 Multiple Indicator Cluster Survey
3,Global,"China, Macao Special Administrative Region",2022,10-14 years,0.0,Registration National Statistics & WPP2022
4,Europe,Denmark,2022,10-14 years,0.0,Registration National Statistics & WPP2022

In [ ]:
# Create a copy of the DataFrame
hDf_cleaned = Hdf_cleaned.copy()

# Rename the 'Value' column to 'Adolescent birth rate (per 1000 women)'
hDf_cleaned.rename(columns={'Value': 'Adolescent birth rate (per 1000 women)', 'Dim2': 'Age-group'}, inplace=True)
hDf_cleaned.head()

,ParentLocation,Location,Period,Age-group,Adolescent birth rate (per 1000 women),FactComments
0,Europe,Croatia,2023,10-14 years,0.0,Registration National Statistics
1,Europe,Croatia,2023,15-19 years,6.7,Registration National Statistics
2,Eastern Mediterranean,Yemen,2023,15-19 years,77.0,Yemen 2022-2023 Multiple Indicator Cluster Survey
3,Global,"China, Macao Special Administrative Region",2022,10-14 years,0.0,Registration National Statistics & WPP2022
4,Europe,Denmark,2022,10-14 years,0.0,Registration National Statistics & WPP2022

In [ ]:
# Export the cleaned data to CSV
#hDf_cleaned.to_csv("Output/Halima.csv", index=False)

In [ ]:
# Group by 'Location' (country) and find the maximum Adolescent birth rate
max_birth_rate =hDf_cleaned.groupby('Location')['Adolescent birth rate (per 1000 women)'].max()

# Find the country with the highest Adolescent birth rate
highest_birth_rate_country = max_birth_rate.idxmax()
highest_birth_rate_value = max_birth_rate.max()

print(f"The country with the highest Adolescent birth rate (per 1000 women) is {highest_birth_rate_country} with a rate of {highest_birth_rate_value}")

The country with the highest Adolescent birth rate (per 1000 women) is Central African Republic with a rate of 184.4

In [ ]:
min_birth_rate = hDf_cleaned.groupby('Location')['Adolescent birth rate (per 1000 women)'].min()

# Find the country with the lowest Adolescent birth rate
lowest_birth_rate_country = min_birth_rate.idxmin()
lowest_birth_rate_value = min_birth_rate.min()

print(f"The country with the lowest Adolescent birth rate (per 1000 women) is {lowest_birth_rate_country} with a rate of {lowest_birth_rate_value}")

The country with the lowest Adolescent birth rate (per 1000 women) is Algeria with a rate of 0.0

In [ ]:
highest_rate = hDf_cleaned.sort_values(by='Adolescent birth rate (per 1000 women)', ascending=False)

highest_rate.head(10)

,ParentLocation,Location,Period,Age-group,Adolescent birth rate (per 1000 women),FactComments
310,Africa,Central African Republic,2018,15-19 years,184.4,Central African Republic 2018-2019 Multiple In...
409,Africa,Equatorial Guinea,2010,15-19 years,176.0,Equatorial Guinea 2011 Demographic and Health ...
386,Africa,Angola,2014,15-19 years,162.7,Angola 2015-2016 Demographic and Health Survey
418,Africa,South Sudan,2008,15-19 years,158.1,South Sudan 2010 Household Health Survey Secon...
149,Africa,Mozambique,2021,15-19 years,158.0,Mozambique 2022-2023 Demographic and Health Su...
233,Africa,Niger,2020,15-19 years,150.3,Niger 2021 Malaria Indicator Survey
231,Africa,Mali,2020,15-19 years,144.8,Mali 2021 Malaria Indicators Survey
267,Africa,Madagascar,2019,15-19 years,143.0,Madagascar 2021 Demographic and Health Survey
307,Africa,Chad,2018,15-19 years,138.5,Chad 2019 Multiple Indicator Cluster Survey
306,Africa,Malawi,2018,15-19 years,135.6,Malawi 2019-2020 Multiple Indicator Cluster Su...

In [ ]:
# Sort the DataFrame in ascending order based on 'Adolescent birth rate (per 1000 women)'
lowest_rate = hDf_cleaned.sort_values(by='Adolescent birth rate (per 1000 women)', ascending=True)

# Display the sorted DataFrame
lowest_rate.head(10)

,ParentLocation,Location,Period,Age-group,Adolescent birth rate (per 1000 women),FactComments
0,Europe,Croatia,2023,10-14 years,0.0,Registration National Statistics
74,South-East Asia,Bhutan,2021,10-14 years,0.0,Registration National Statistics & WPP2022
73,Americas,Bermuda,2021,10-14 years,0.0,Registration National Statistics & WPP2022
72,Europe,Belgium,2021,10-14 years,0.0,Registration Eurostat
71,Europe,Azerbaijan,2021,10-14 years,0.0,Registration National Statistics & WPP2022
70,Europe,Austria,2021,10-14 years,0.0,Registration Eurostat
211,Europe,Armenia,2020,10-14 years,0.0,Registration Eurostat
212,Americas,Montserrat,2020,10-14 years,0.0,Registration National Statistics & WPP2022
213,South-East Asia,Nepal,2020,10-14 years,0.0,Nepal 2022 Demographic and Health Survey
254,Eastern Mediterranean,Bahrain,2019,10-14 years,0.0,Registration National Statistics & WPP2022

In [ ]:
# Count occurrences of Age-group values
age_group_counts = hDf_cleaned['Age-group'].value_counts()

# Display the counts
print("Age-group counts:")
print(age_group_counts)

Age-group counts:
Age-group
15-19 years    223
10-14 years    215
Name: count, dtype: int64

In [ ]:
#LR#
csvpath = Path('.', 'Resources', 'births-attended-by-skilled-health-personnel.csv')

In [ ]:
#LR# Read the CSV into a Pandas DataFrame
skilled_personnel_df = pd.read_csv(csvpath, low_memory=False)

# Print the first rows of data to the screen
skilled_personnel_df.head()

,IndicatorCode,Indicator,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,...,FactValueUoM,FactValueNumericLowPrefix,FactValueNumericLow,FactValueNumericHighPrefix,FactValueNumericHigh,Value,FactValueTranslationID,FactComments,Language,DateModified
0,MDG_0000000025,Births attended by skilled health personnel (%),text,SEAR,South-East Asia,Country,IDN,Indonesia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,95.7,NaN,SUSENAS 2023 as part of Welfare Statistics 2023,EN,2024-04-26 00:00:00
1,MDG_0000000025,Births attended by skilled health personnel (%),text,EUR,Europe,Country,FRA,France,Year,2023,...,NaN,NaN,NaN,NaN,NaN,97.6,NaN,Institutional Birth (IB): includes all deliver...,EN,2024-04-26 00:00:00
2,MDG_0000000025,Births attended by skilled health personnel (%),text,EMR,Eastern Mediterranean,Country,SAU,Saudi Arabia,Year,2023,...,NaN,NaN,NaN,NaN,NaN,99.8,NaN,Women Health and Reproductive Survey,EN,2024-04-26 00:00:00
3,MDG_0000000025,Births attended by skilled health personnel (%),text,EMR,Eastern Mediterranean,Country,JOR,Jordan,Year,2023,...,NaN,NaN,NaN,NaN,NaN,99.9,NaN,Department of Statistics (DoS) [Jordan] and IC...,EN,2024-04-26 00:00:00
4,MDG_0000000025,Births attended by skilled health personnel (%),text,EMR,Eastern Mediterranean,Country,YEM,Yemen,Year,2022-2023,...,NaN,NaN,NaN,NaN,NaN,60.9,NaN,Central Statistical Organization (CSO) and Uni...,EN,2024-04-26 00:00:00

In [ ]:
#LR#make a copy of dataframe and drop unwanted columns
clean_df_skilled_personnel = skilled_personnel_df.drop(['Indicator','FactValueUoM', 'FactValueNumericLowPrefix',
                                                        'FactValueNumericPrefix','FactValueNumericLow','FactValueTranslationID', 'Dim2', 'Dim2 type', 'Dim1 type',
                                                        'Dim2ValueCode', 'Dim3', 'DataSourceDimValueCode', 'Dim3ValueCode', 'DataSource', 'Dim1ValueCode', 'Dim3 type',
                                                        'Dim1', 'FactValueNumericHighPrefix', 'FactValueNumericHigh'], axis=1)
clean_df_skilled_personnel.head()

,IndicatorCode,ValueType,ParentLocationCode,ParentLocation,Location type,SpatialDimValueCode,Location,Period type,Period,IsLatestYear,FactValueNumeric,Value,FactComments,Language,DateModified
0,MDG_0000000025,text,SEAR,South-East Asia,Country,IDN,Indonesia,Year,2023,True,95.7,95.7,SUSENAS 2023 as part of Welfare Statistics 2023,EN,2024-04-26 00:00:00
1,MDG_0000000025,text,EUR,Europe,Country,FRA,France,Year,2023,True,97.6,97.6,Institutional Birth (IB): includes all deliver...,EN,2024-04-26 00:00:00
2,MDG_0000000025,text,EMR,Eastern Mediterranean,Country,SAU,Saudi Arabia,Year,2023,True,99.8,99.8,Women Health and Reproductive Survey,EN,2024-04-26 00:00:00
3,MDG_0000000025,text,EMR,Eastern Mediterranean,Country,JOR,Jordan,Year,2023,True,99.9,99.9,Department of Statistics (DoS) [Jordan] and IC...,EN,2024-04-26 00:00:00
4,MDG_0000000025,text,EMR,Eastern Mediterranean,Country,YEM,Yemen,Year,2022-2023,True,60.9,60.9,Central Statistical Organization (CSO) and Uni...,EN,2024-04-26 00:00:00

In [ ]:
#LR#
parent_location = clean_df_skilled_personnel.groupby(["ParentLocation"])["Value"].value_counts()
pd.DataFrame(parent_location)

                       count
ParentLocation  Value
Africa          99.8      12
                99.0       8
                99.7       8
                99.5       6
                43.7       3
...                      ...
Western Pacific 97.5       1
                97.6       1
                97.8       1
                98.2       1
                98.9       1

[745 rows x 1 columns]